# build artifacts
build/
.result/
result
result-*

# Local CI secrets
.gh-*.env

# Direnv
.direnv
.env

*.qcow2

comment.md
matrix-*.json
shardMatrix.json

.vscode

# Pre Commit
.pre-commit-config.yaml
