name: CI/CD

on:
  # Enable option to manually run the action:
  workflow_dispatch:

  # Run on the `main` branch or on PRs that target it:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  CI-CD:
    timeout-minutes: 360
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-conf:
            accept-flake-config = true

      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v3

      - uses: cachix/cachix-action@v14
        with:
          name: ${{ vars.CACHIX_CACHE }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: nix flake check
        run: nix flake check
