name: CI

on:
  # Allow this workflow to be triggered manually:
  workflow_dispatch:

  # Allow this workflow to be run in merge queues:
  merge_group:

  # Run this workflow when PRs target `main` and when they're merged in `main`:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/reusable-lint.yml
    secrets: inherit
    with:
      runner: '["self-hosted", "Linux", "x86-64-v2"]'

  test-mcl:
    strategy:
      fail-fast: false
      # Test install-nix's support for specifying which Nix version to install-nix
      # on github-hosted runners
      matrix:
        include:
          - runner: self-hosted
            nix-version: ''
          - runner: ubuntu-latest
            nix-version: 2.28.5
          - runner: ubuntu-latest
            nix-version: 2.33.0
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout first to use locally defined actions
        uses: actions/checkout@v6

      - name: Install Nix
        uses: ./.github/install-nix
        with:
          nix-version: ${{ matrix.nix-version }}
          push-to-cache: false
          cachix-cache: ${{ vars.CACHIX_CACHE }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          trusted-public-keys: ${{ vars.TRUSTED_PUBLIC_KEYS }}
          substituters: ${{ vars.SUBSTITUTERS }}

      - name: Build and test the `mcl` command
        run: nix develop -c sh -c "dub test --root packages/mcl -- -e 'fetchJson|(coda\.)|nix.run|nix.build'"

  ci:
    uses: ./.github/workflows/reusable-flake-checks-ci-matrix.yml
    secrets: inherit
    with:
      runner: '["self-hosted", "Linux", "x86-64-v2"]'
      run-cachix-deploy: false
