name: CI

on:
  # Allow this workflow to be triggered manually:
  workflow_dispatch:

  # Allow this workflow to be run in merge queues:
  merge_group:

  # Run this workflow when PRs target `main` and when they're merged in `main`:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/reusable-lint.yml
    secrets: inherit

  test-mcl:
    strategy:
      fail-fast: false
      # Test setup-nix's support for specifying which Nix version to install
      # on github-hosted runners
      matrix:
        include:
          - runner: ['self-hosted', 'nixos', 'x86-64-v2', 'bare-metal']
            nix-version: ''
          - runner: ubuntu-latest
            nix-version: 2.28.5
          - runner: ubuntu-latest
            nix-version: 2.33.0
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout first to use locally defined actions
        uses: actions/checkout@v6

      - name: Setup Nix
        uses: ./.github/setup-nix
        with:
          nix-version: ${{ matrix.nix-version }}
          push-to-cache: false
          cachix-cache: ${{ vars.CACHIX_CACHE }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          trusted-public-keys: ${{ vars.TRUSTED_PUBLIC_KEYS }}
          substituters: ${{ vars.SUBSTITUTERS }}
          devshell: default

      - name: Build and test the `mcl` command
        run: dub test --root packages/mcl -- -e 'fetchJson|(coda\.)|nix.run|nix.build'

  ci:
    uses: ./.github/workflows/reusable-flake-checks-ci-matrix.yml
    secrets: inherit
    with:
      runners: |
        {
          "x86_64-linux": [
            "self-hosted",
            "nixos",
            "x86-64-v3",
            "bare-metal"
          ],
          "aarch64-darwin": [
            "self-hosted",
            "macOS",
            "aarch64-darwin"
          ]
        }
      run-cachix-deploy: false

  test-act:
    runs-on: [self-hosted, nixos, x86-64-v3, bare-metal]
    steps:
      - name: Checkout first to use locally defined actions
        uses: actions/checkout@v6

      - name: Setup Nix
        uses: ./.github/setup-nix
        with:
          push-to-cache: true
          cachix-cache: ${{ vars.CACHIX_CACHE }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          trusted-public-keys: ${{ vars.TRUSTED_PUBLIC_KEYS }}
          substituters: ${{ vars.SUBSTITUTERS }}
          devshell: default

      - name: Create `.gh-vars.env` and `.gh-secrets.env` files
        run: |
          {
            echo 'CACHIX_CACHE=${{ vars.CACHIX_CACHE }}'
          } > .gh-vars.env

          {
            echo 'CACHIX_AUTH_TOKEN=${{ secrets.CACHIX_AUTH_TOKEN }}'
          } > .gh-secrets.env

      - name: Build `ci-image` and run the `lint` workflow inside it with `act`
        run: just act lint
