name: CI

on:
  # Allow this workflow to be triggered manually:
  workflow_dispatch:

  # Allow this workflow to be run in merge queues:
  merge_group:

  # Run this workflow when PRs target `main` and when they're merged in `main`:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/reusable-lint.yml
    secrets: inherit
    with:
      runner: '["self-hosted", "Linux", "x86-64-v2"]'

  test-mcl:
    runs-on: self-hosted
    steps:
      - name: Install Nix
        uses: metacraft-labs/nixos-modules/.github/install-nix@main
        with:
          cachix-cache: ${{ vars.CACHIX_CACHE }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          trusted-public-keys: ${{ vars.TRUSTED_PUBLIC_KEYS }}
          substituters: ${{ vars.SUBSTITUTERS }}

      - uses: actions/checkout@v4

      - name: Build and test the `mcl` command
        run: nix develop -c sh -c "dub test --root packages/mcl --compiler ldc2 -- -e 'fetchJson|(coda\.)|nix.run|nix.build'"

  ci:
    uses: ./.github/workflows/reusable-flake-checks-ci-matrix.yml
    secrets: inherit
    with:
      runner: '["self-hosted", "Linux", "x86-64-v2"]'
      run-cachix-deploy: false
