name: 'Lint'

on:
  # Allow this workflow to be reused by other workflows:
  workflow_call:
    inputs:
      runner:
        description: 'JSON-encoded list of runner labels'
        default: '["self-hosted"]'
        required: false
        type: string

    secrets:
      NIX_GITHUB_TOKEN:
        description: GitHub token to add as access-token in nix.conf
        required: false
      CACHIX_AUTH_TOKEN:
        description: 'Cachix auth token'
        required: true
      NIX_GITLAB_TOKEN:
        description: GitLab token to add as access-token in nix.conf
        required: false

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6

      - name: Setup Nix
        uses: metacraft-labs/nixos-modules/.github/setup-nix@main
        with:
          push-to-cache: false
          nix-github-token: ${{ secrets.NIX_GITHUB_TOKEN }}
          nix-gitlab-token: ${{ secrets.NIX_GITLAB_TOKEN }}
          nix-gitlab-domain: ${{ vars.NIX_GITLAB_DOMAIN }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          cachix-cache: ${{ vars.CACHIX_CACHE }}
          trusted-public-keys: ${{ vars.TRUSTED_PUBLIC_KEYS }}
          substituters: ${{ vars.SUBSTITUTERS }}

      - name: Check formatting
        run: nix develop --accept-flake-config .#pre-commit -c prek run --all-files --show-diff-on-failure --color always
